<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>选择活动类型</title>
	<link rel="stylesheet" href="./css/main.css">
	<script type="text/javascript" src="./js/main.js"></script>
	<style type="text/css">
		[v-cloak] {
		  display: none;
		}
	</style>
</head>
<body>
<section class="promotion" id="temBox" v-cloak>
	<div class="notice" id="notice">
		选择您要发布活动的促销类型
	</div>
	<div class="guide_hint_w">
		<div class="guide_hint" id="guide_hint">
	        <span class="guide_hint_icon"><img src="./images/icon_hint.png" alt=""></span>
	        <p class="guide_hint_text">小二在这儿给您提个醒儿：<br>第一步：请选择活动类型！</p>
	        <span class="guide_hint_close" id="guide_hint_close"><img src="images/icon_close.png" alt=""></span>
	    </div>
	</div>
	<div class="flow_path">
		<div class="flow_path_img"><img src="./images/flow1.png"></div>
		<div class="flow_path_text">
			<p>类型选择</p>
			<p>选择模板</p>
			<p>活动内容</p>
			<p>活动设置</p>
		</div>
	</div>
	<div v-if="list.length" class="promotion_list" id="promotion_list">
		<a v-for="list in list" :href="'select.html?id='+list.advertiseClassifyId">{{list.name}}</a>
	</div>
	<div v-else class="noResult" style="display:flex;justify-content:center;align-items:center;height:400px">
        <div class="noResult_c">
            <span><img style="width:1rem;height:auto;display:block;margin:0 auto;" src="./images/no_find.png" alt=""></span>
            <p style="text-align:center;line-height:0.3rem;font-size:0.14rem">没有类型信息</p>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../common/js/source/vue.min.js"></script>
<script type="text/javascript" src="./js/szad.js?v=5"></script>
<script type="text/javascript">
var app = new Vue({
	el: '#temBox',
	data: {
		list:[]
	},
	created: function () {
        this.classify();
	},
	mounted: function(){
        if (window.actCommon.addStep('step1',localStorage.step1)) {
        	window.actCommon.addStep('step1',localStorage.step1)
        }else{
        	document.getElementById('notice').style.display="block";
        };
	},
	methods:{
		classify:function(){
			packaging.loading('加载中...');
			szad.init();
			var that=this;
            szad.getUserInfo(function(data){
            	var data=actCommon.transformJson(data);
            	var info2={
					'userId':data.garageId,
				}
				var api=actCommon.appApiW();
				var url=api+"/api/app/advertise/sale/classify/list";
				var promotion=function(data){
					packaging.loadingRemove();
	            	var data=actCommon.transformJson(data);
				    if (data.success) {
				    	that.list=data.info;
				    }else{
				    	packaging.fubottom(data.message);
				    };
				}
				szad.requestNetworkData(url,info2,promotion)
            })
			
		}
	}
})
</script>

<!-- 腾讯监控 -->
<script type="text/javascript">
(function() {
	var rnd=Math.floor(Math.random()*1000000);
	var mta = document.createElement("script");
	mta.setAttribute("type", "text/javascript");
	mta.src = "../../common/js/tencent.js?rnd="+rnd;
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(mta, s);
})();
</script>
</body>
</html>